<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insurance Cost Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <h1>Insurance Cost Prediction</h1>
        <form id="prediction-form" action="/predict" method="post">
            <div class="form-group">
                <label for="age">Age:</label>
                <input type="number" id="age" name="age"  placeholder="Enter your age" required >
            </div>

            <div class="form-group">
                <label for="sex">Sex:</label>
                <select id="sex" name="sex"  required>
                    <option value="0">Female</option>
                    <option value="1">Male</option>
                </select>
            </div>

            <div class="form-group">
                <label for="bmi">BMI:</label>
                <input type="number" id="bmi" name="bmi" placeholder="enter your BMI(Body Mass Index)" required>
            </div>

            <div class="form-group">
                <label for="children">Number of Children:</label>
                <input type="number" id="children" name="children" placeholder="Number of childrens" required>
            </div>

            <div class="form-group">
                <label for="smoker">Smoker:</label>
                <select id="smoker" name="smoker" required>
                    <option value="0">No</option>
                    <option value="1">Yes</option>
                </select>
            </div>

            <div class="form-group">
                <label for="region">Region:</label>
                <select id="region" name="region" required>
                    <option value="0">Northeast</option>
                    <option value="1">Northwest</option>
                    <option value="2">Southeast</option>
                    <option value="3">Southwest</option>
                </select>
            </div>

            <button type="submit">Predict</button>
        </form>

        <div id="prediction-result"></div>
    </div>
    <script>
        document.getElementById("prediction-form").addEventListener("submit", function(event) {
            event.preventDefault(); // Prevent default form submission

            // Get form data
            var formData = new FormData(this);

            // Send form data to server using fetch API
            fetch('/predict', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                // Display prediction result
                document.getElementById("prediction-result").innerHTML = "Predicted Cost Insurance: " + data.prediction.toFixed(2);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    </script>
</body>
</html>
